/* specifieke stijlregels voor 403-pagina */
@media screen and (min-width: 800px) {
    body {
        color: black;
        background-color: #909b6f;
        background-image: url(../afbeeldingen/automobile-fast-number-248747.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        color: whitesmoke;
    }

}


    @media screen and (max-width: 800px) {
        body {
            color: black;
            background-color: #909b6f;
            background-image: url(../afbeeldingen/Foto403.jpg);
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            text-align: center;
            color:black
        }
    }
h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 5em;
        text-align: left;
    }

    p {
        font-size: 2em;
        font-family: 'Roboto Slab', serif;
        text-align: left;
    }



    #permission {
        font-size: 1em;
    }
