/* specifieke stijlregels voor 403-pagina */
body {
    color: black;
    background-color: #909b6f;
    background-image: url(../afbeeldingen/Foto-403-pagina.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
h1, p {
    font-family: 'Sriracha', cursive;
    color:black;
    font-size: 2em;
}