/* specifieke stijlregels voor 403-pagina */
@media screen and (min-width: 800px) {
    body {
        color: black;
        background-color: #909b6f;
        background-image: url(../afbeeldingen/automobile-fast-number-248747.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        color: whitesmoke;
    }

}


    @media screen and (max-width: 800px) {
        body {
            color: black;
            background-color: #909b6f;
            background-image: url(../afbeeldingen/Foto403.jpg);
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            text-align: center;
            color:black
        }
    }
h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 5em;
        text-align: left;
    }

    p {
        font-size: 2em;
        font-family: 'Roboto Slab', serif;
        text-align: left;
    }



    #permission {
        font-size: 1em;
    }

.button {
    display: inline-block;
    margin-bottom: .5rem;
    padding: .5rem 2.5rem;
    border: 2px solid #6E6E6E;
    border-radius: 0;
    background-color: #6E6E6E;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: inherit;
    transition: all 1s ease
}


.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active
.button.button--secondary:visited
.button.button--secondary:link{
    border-color: #193e2d;
    background-color: #2e7555;
    color: #fff
}

a:hover,
a:focus,
a:active 
a:visited, 
a:link{

    color: #004b8d;
    text-decoration: none;
}

