/* specifieke stijlregels voor 404-pagina */
@media screen and (max-width: 800px) {
body {
    background-color: #909b6f;
    background-image: url(../afbeeldingen/foto404.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
}
}
@media screen and (min-width: 800px) {
body{
    background-color: #909b6f;
    background-image: url(../afbeeldingen/klein404.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    }
}
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 6em;
    text-align: center;
}
p{
    font-size: 2em;
    font-family: 'Luckiest Guy', cursive;
    float:none;
    text-align: center;
}
.button {
    display: inline-block;
    margin-bottom: .5rem;
    padding: .5rem 2.5rem;
    border: 2px solid #6E6E6E;
    border-radius: 0;
    background-color: #6E6E6E;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: inherit;
    transition: all 1s ease
}


.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active
.button.button--secondary:visited
.button.button--secondary:link{
    border-color: #193e2d;
    background-color: #2e7555;
    color: #fff
}

a:hover,
a:focus,
a:active 
a:visited, 
a:link{

    color: #004b8d;
    text-decoration: none;
}



   